TypeScript/node_modules/

Angular/api-calls-app/node_modules/
Angular/api-calls-app/.angular/
Angular/api-calls-app/.vscode/

Angular/demo-app/node_modules/
Angular/demo-app/.angular/
Angular/demo-app/.vscode/

Angular/my-app/node_modules/
Angular/my-app/.angular/
Angular/my-app/.vscode/

Angular/routing-demo/node_modules/
Angular/routing-demo/.angular/
Angular/routing-demo/.vscode/

Angular/sharing-data-app/node_modules/
Angular/sharing-data-app/.angular/
Angular/sharing-data-app/.vscode/