<div class="container">
    <h1>Calculator is Free but still u can use your brain!!</h1>

    Input #1 : <input type="number" [(ngModel)]="num1" class="form-control">
    Input #1 : <input type="number" [(ngModel)]="num2" class="form-control">

    Output: <input type="number" [(ngModel)]="output" class="form-control">

    <hr>

    <button (click)="add()">+</button> &nbsp;
    <button (click)="sub()">-</button> &nbsp;
    <button (click)="mul()">*</button> &nbsp;
    <button (click)="div()">/</button> &nbsp;
    <button (click)="pow()">pow</button>
</div>