<app-dynamic-table></app-dynamic-table>

<!-- 

    <app-structural-directives></app-structural-directives>
    <app-calculator></app-calculator>
    
    <input type="text" [(ngModel)]="name">
{{name}}


<hr>

<input type="text" name="" id="" #papa (blur)="validate(papa.value)">

<input type="button" value="Click Me!" (click)="logMessage(papa.value)">

<input type="button" value="???" (click)="logEvent($event)">


<h1 class="text-success">Welcome CromaCampus</h1>

<h1 class="text-danger">Welcome CromaCampus</h1>

<h1 class="{{successClass}}">Welcome CromaCampus Dynamically Interpolation</h1>

<h1 [class]="successClass">Welcome CromaCampus Dynamically Property Binding</h1>

<h1 [class.text-danger]="hasError">Welcome CromaCampus Dynamically Selected class</h1>

<h1 [ngClass]="messageClasses">Welcome CromaCampus Dynamically Group of classes</h1>

<h2 [style.color]="highlightColor">
    Style Binding
</h2>

<h2 [ngStyle]="myStyle">
    Style Binding with Object
</h2> -->