.doctor-app-inda{
	background-image: url("../images/wr2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-slr{
	background-image: url("../images/wr3.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-byr{
	background-image: url("../images/wr4.jfif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-wreh{
	background-image: url("../images/wr5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-wrehd{
	background-image: url("../images/wr6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-wadhm{
	background-image: url("../images/wr8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-adla{
	background-image: url("../images/wr9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-bhym{
	background-image: url("../images/wr10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-indx{
	background-image: url("../images/wr13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-wrhome{
	background-image: url("../images/wr14.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-Dhome{
	background-image: url("../images/wr15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-shome{
	background-image: url("../images/wr16.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-addc{
	background-image: url("../images/wr17.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.warehouse-app-deliverylog{
	background-image: url("../images/wr18.webp");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}